<% if (typeof errors !== 'undefined'){ %>
    <% if(errors){ %>
        <% errors.forEach(function(error){ %>
        <div class="alert alert-warning">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% }); %>
    <% }; %>
<% }; %>