<!DOCTYPE html>
<html>
    <head>
        <title><%= page.title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
          <a class="navbar-brand" href="/">Happy Paws</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
             <ul class="navbar-nav navbar-right">
               <% if(user){ %>
                  <li class='nav-item'>
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                  </li>
               <% } else{ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
                  </li>
               <% }; %>
            </ul>
          </div>
        </nav>
        <div class="container">
          <br>

       