# Ignore node modules folder
node_modules/

# Ignore package-lock
package-lock.json

# Ignore DB file
dbcon.js

# Ignore signature file
public/signatures/

# ignore cdrtificates
publie/blank_certificates