<% include partials/header %>
<%- messages('message', locals) %>

<h1>Happy Paws Employee Portal</h1><br>

<H4>Welcome, Admin!</H4><br>

<a class="btn btn-custom1 btn-lg" href="/users/admin/manageuseraccounts" role="button"><i class='fas fa-user'></i> Manage User Accounts</a><br><br>
<a class="btn btn-custom1 btn-lg" href="/users/admin/manageadminaccounts" role="button"><i class="fas fa-user-cog"></i> Manage Admin Accounts</a><br><br>
<a class="btn btn-custom1 btn-lg" href="/users/admin/analytics" role="button"><i class="fas fa-chart-bar"></i> Analytics & Reporting</a>


<% include partials/footer %>