<% include partials/header %>

<h1>Happy Paws Employee Portal</h1><br>

<H4>Welcome, Admin!</H4><br>

<a class="btn btn-info btn-lg" href="/users/admin/manageuseraccounts" role="button">Manage User Accounts</a><br><br>
<a class="btn btn-info btn-lg" href="/users/admin/manageadminaccounts" role="button">Manage Admin Accounts</a><br><br>
<a class="btn btn-info btn-lg" href="/users/admin/analytics" role="button">Analytics & Reporting</a>


<% include partials/footer %>