<% include partials/header %>
<%- messages('message', locals) %>

<head>

    <script>
    function ConvertToCSV() {
        <% 
            var awardData = new Array();

            var tableTitle = new Array(); //Include Titles on Chart
            tableTitle.push( 'Name');
            tableTitle.push( 'Number of Awards');
            awardData.push(tableTitle);

            awards.forEach(function(award) //Chart Data
            { 
                var awardItem = new Array();
                awardItem.push( award.fName + ' ' + award.lName);
                awardItem.push( award.IdCount);
                awardData.push(awardItem);
            }) %>
            var awards = <%- JSON.stringify(awardData); %>

        var csv = '';  //Convert to CSV
        awards.forEach(award => 
            {
                for(var i = 0; i < award.length; i++)
                {
                    csv += award[i];
                    if( i < award.length - 1)
                    {
                        csv += ',';
                    }
                }
                csv += '\r\n'
            }
        )

        //Send to download
        console.log(csv);
        var filename = 'HappyPawsData.csv';
        var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) { 
            navigator.msSaveBlob(blob, filename);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { 
               
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }
    </script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        //Set callback for Bar Chart
        google.charts.setOnLoadCallback(drawBarChart);

        // Callback that creates and populates a data table,instantiates the chart, passes in the data and draws it.
        function drawBarChart() {

            // Create the data table
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'User');
            data.addColumn('number', 'Awards');

            <% 
            var awardData = new Array();
            awards.forEach(function(award) 
            { 
                var awardItem = new Array();
                awardItem.push( award.fName + ' ' + award.lName);
                awardItem.push( award.IdCount);
                awardData.push(awardItem);
            }) %>
            var awardJSON = <%- JSON.stringify(awardData); %>

            data.addRows(awardJSON);

            // Set chart options
            var options = {'title':'User Leaderboard\n(Users that have created at least 1 award)', 
                        'width': '1000',
                        'height':'450',
                        'titleTextStyle': {color: '#224E7A'},
                        'fontSize': '16',
                        'colors': ['#659DBD'],
                        hAxis: {textStyle: {color: '#224E7A'}},
                        vAxis: {textStyle: {color: '#224E7A'}},
                        legend: {textStyle: {color: '#224E7A'}},
                        chartArea: {backgroundColor: {fill: '#FDF7E4',
                        width: '1000', height: '450', bottom:'5%'}
                            }};
                
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('barChartDiv'));
            chart.draw(data, options);
        }

    </script>
  </head> 

<body>
        <h1>Happy Paws Employee Portal</h1><br>

        <h4>Analytics & Reporting</h4><br>
        
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav w-100 nav-justified">
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" disabled href="/users/admin/analytics" role="button">User Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" href="/users/admin/analyticsuserparticipation" role="button">User Participation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" href="/users/admin/analyticsDept" role="button">Dept Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" href="/users/admin/analyticsdeptparticipation" role="button">Dept Participation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" href="/users/admin/analyticsAwardType" role="button">Award Type</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link btn-custom1" href="/users/admin/analyticsViewAllAwards" role="button">View All Awards</a>
                    </li>
                </ul>
            </div>
        </nav>        
    
    <!-- <Div that holds the bar chart -->
    <div id="barChartDiv"></div>

    <div class="csvbutton">
        <a id="export" class="btn btn-custom2" href="javascript:void(0);" onclick="ConvertToCSV()"><i class='fas fa-file-export'></i> Export CSV File</a>
    </div>

    <br>
</body>

<a class="btn btn-custom1 btn-md" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>

<% include partials/footer %>