<% include partials/header %>
<%- messages('message', locals) %>

<head>
  
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,instantiates the chart, passes in the data and draws it.
      function drawChart() {

        // Create the data table
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Award Type');
        data.addColumn('number', 'Awards');

        <% 
        var awardData = new Array();
        awards.forEach(function(award) 
        { 
            var awardItem = new Array();
            awardItem.push( award.awardType);
            awardItem.push( award.typeCount);
            awardData.push(awardItem);
        }) %>
        var awardJSON = <%- JSON.stringify(awardData); %>

        data.addRows(awardJSON);

        // Set chart options
        var options = {'title':'Awards Created by Award Type',
                       'width':800,
                       'height':500,
                       'titleTextStyle': {color: '#224E7A'},
                       'fontSize': '16',
                       'colors': ['#659DBD'],
                       hAxis: {textStyle: {color: '#224E7A'}},
                       vAxis: {textStyle: {color: '#224E7A'}},
                       legend: {textStyle: {color: '#224E7A'}},
                       chartArea: {backgroundColor: {fill: '#FDF7E4',}
                        }};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head> 

<body>
        <h1>Happy Paws Employee Portal</h1><br>

        <h4>Analytics & Reporting</h4><br>
        
        <p>Filter Data By:</p>
        <a class="btn btn-custom1" href="/users/admin/analytics" role="button">User Leaderboard</a>
        <a class="btn btn-custom1" href="/users/admin/analyticsuserparticipation" role="button">User Participation</a>
        <a class="btn btn-custom1" href="/users/admin/analyticsDept" role="button">Department Leaderboard</a>
        <a class="btn btn-custom1" href="/users/admin/analyticsdeptparticipation" role="button">Department Participation</a>
        <a class="btn btn-custom1" href="/users/admin/analyticsAwardType" role="button">Award Type</a>
        <a class="btn btn-custom1" href="/users/admin/analyticsViewAllAwards" role="button">View All Awards</a>

    <!-- <Div that holds the bar chart -->
    <div id="chart_div"></div>
    
  </body>

<a class="btn btn-custom1 btn-lg" href="/users/admin/adminmenu" role="button">Back to Admin Main Menu</a><br><br>

<% include partials/footer %>