<% include partials/header %>
<%- messages('message', locals) %>

  <div id="background-image">
      <h1>Happy Paws Employee Recognition Portal</h1>
      <p>Give your best friends the treats they deserve.</p>
  </div>
  <div class="centered-buttons">
    <br>
      <a href="/login"><button class="button">Login</button></a>
      <a href="/register"><button class="button">Register</button></a>
    <br><br><br><br><br>
  </div>
<% include partials/footer %>