<% include partials/header %>
<%- messages('message', locals) %>
	<div class="jumbotron">
      <h1 class="display-4">Welcome to Happy Paws Employee Recognition Portal!</h1>
      <p class="lead">Give your employees the recognition they deserve.</p>
      <hr class="my-4">
      <p>Please login or register an account to begin.</p>
      <a class="btn btn-custom1 btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-custom1 btn-lg" href="/login" role="button">Login</a>
    </div>
<% include partials/footer %>