<% include partials/header %>

<h3 class="page-subtitle text-center">CREATE AN ACCOUNT</h3>
<br>

<div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-8">
                <div class="card-body">
                    <%- messages('message', locals) %>
                    <% include partials/errorHandler %>
                    <form action="/register" method="POST" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for='fName' class='col-sm-2 col-form-label'>First Name:</label>
                            <div class='col-sm-10'>
                                <input class="form-control" name="fName" type="text" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='lname' class='col-sm-2 col-form-label'>Last Name:</label>
                            <div class='col-sm-10'>
                                <input class="form-control" name="lName" type="text" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='email' class='col-sm-2 col-form-label'>Email:</label>
                            <div class='col-sm-10'>
                                <input type="text" class="form-control" name="email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='title' class='col-sm-2 col-form-label'>Job Title:</label>
                            <div class='col-sm-10'>
                                <input type="text" class="form-control" name="title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='department' class='col-sm-2 col-form-label'>Department:</label>
                            <div class='col-sm-10'>
                                <select class="form-control" name="department">
                                    <option value = "Accounting and Finance">Accounting and Finance</option>
                                    <option value = "Daycare Attendants">Daycare Attendants</option>
                                    <option value = "Human Resources">Human Resources</option>
                                    <option value = "Information Systems">Information Systems</option>
                                    <option value = "Legal">Legal</option>
                                    <option value = "Marketing">Marketing</option>
                                    <option value = "Operations">Operations</option>
                                    <option value = "Veterinary Care">Veterinary Care</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='password' class='col-sm-2 col-form-label'>Password:</label>
                            <div class='col-sm-10'>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='password2' class='col-sm-2 col-form-label'>Confirm Password:</label>
                            <div class='col-sm-10'>
                                <input type="password" class="form-control" name="password2" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='secQ1' class='col-sm-2 col-form-label'>Security Question 1:</label>
                            <div class='col-sm-10'>
                                <select class="form-control" name="secQ1">
                                    <option value = "What is your favorite food?">What is your favorite food?</option>
                                    <option value = "What is your mother’s maiden name?">What is your mother’s maiden name?</option>
                                    <option value = "What was the name of your first pet?">What was the name of your first pet?</option>
                                    <option value = "Where did you go to high school/college?">Where did you go to high school/college?</option>
                                    <option value = "What city were you born in?">What city were you born in?</option>
                                    <option value = "Where is your favorite place to vacation?">Where is your favorite place to vacation?</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='secQ1Ans' class='col-sm-2 col-form-label'>Answer1:</label>
                            <div class='col-sm-10'>
                                <input type="text" class="form-control" name="secQ1Ans" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='secQ2' class='col-sm-2 col-form-label'>Security Question 2:</label>
                            <div class='col-sm-10'>
                                <select class="form-control" name="secQ2">
                                    <option value = "What is your favorite food?">What is your favorite food?</option>
                                    <option value = "What is your mother’s maiden name?">What is your mother’s maiden name?</option>
                                    <option value = "What was the name of your first pet?">What was the name of your first pet?</option>
                                    <option value = "Where did you go to high school/college?">Where did you go to high school/college?</option>
                                    <option value = "What city were you born in?">What city were you born in?</option>
                                    <option value = "Where is your favorite place to vacation?">Where is your favorite place to vacation?</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='secQ1Ans' class='col-sm-2 col-form-label'>Answer2:</label>
                            <div class='col-sm-10'>
                                <input type="text" class="form-control" name="secQ2Ans" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for='signature' class='col-sm-2 col-form-label'>Upload Signature:</label>
                            <div class='col-sm-10'>
                                <input type="file" name="signature" accept='image/png,image/jpeg' required>
                            </div>
                        </div>
                        <button class="btn btn-custom1" type="submit" value="submit">Create Account</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/login">Already Registered? Login.</a>
                </div>
            </div>
        </div>
    </div>
    <br>

<% include partials/footer %>