<% include partials/header %>

<h5 class="page-subtitle text-center">RESET PASSWORD</h1>
    <br>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <%- messages('message', locals) %>
                    <% include partials/errorHandler %>
                    <form action="/resetpw" method="POST">
                        <div>
                            <label for='password'>New Password:</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div>
                            <label for='password2'>Confirm Password:</label>
                            <input type="password" class="form-control" name="password2" required>
                        </div>
                        <% if(user_data.isAdmin == 1){ %>
                            <input type='hidden' value='<%= user_data.adminId %>' name='adminId'>
                        <% } else{ %>
                            <input type='hidden' value='<%= user_data.userId %>' name='userId'>
                        <% } %>
                        <input type='hidden' value='<%= user_data.isAdmin %>' name='isAdmin'>
                        <br>
                        <button class="btn btn-custom1" type="submit" value="submit">Reset Password</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/login">Back to Login</a><br>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>