<% include partials/header %>
<%- messages('message', locals) %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>Welcome, <%= user.fName %>!</h4>
<br>

<div class="buttons">
    <a href="/users/usermyprofile"><button class="btn btn-custom1 btn-lg"><i class='fas fa-user'></i> My Profile</button></a>
</div>
<div class="buttons">
    <a href="/users/usercreateaward"><button class="btn btn-custom1 btn-lg"><i class="fas fa-award"></i> Create A New Award</button></a>
</div>
<div class="buttons">
    <a href="/users/userviewawards"><button class="btn btn-custom1 btn-lg"><i class="far fa-star"></i> View Previous Awards</button></a>
</div>


<% include partials/footer %>