<% include partials/header %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>Change Profile Password</h4>
<br>

<p>TODO - this form will fill with 2 boxes to change the password. \n1 box to put the new PW and the other to confirm.</p>
<br>

<form action="/users/userresetpassword" method="GET">
    <button class="btn btn-info btn-lg">Reset Your User Password</button>
</form>
<br>
<br>
<form action="/users/usereditprofile" method="GET">
    <button class="btn btn-info btn-lg">Update Your User Profile</button>
</form>
<br>


<% include partials/footer %>