<% include partials/header %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>User Main Menu</h4>
<br>

<div class="buttons">
    <a href="/users/usermyprofile"><button class="btn btn-info btn-lg">Take a Look At Your Profile</button></a>
</div>
<div class="buttons">
    <a href="/users/usercreateaward"><button class="btn btn-info btn-lg">Create An Award For A Fellow Employee</button></a>
</div>
<div class="buttons">
    <a href="/users/userviewawards"><button class="btn btn-info btn-lg">Take A Look At Your Awards</button></a>
</div>


<% include partials/footer %>