<% include partials/header %>
<%- messages('message', locals) %>

<h1>Happy Paws Employee Portal</h1>
<br>
<br>
<br>

<h3 style="text-align:center;">Welcome, <%= user.fName %>! %></h3>
<br>
<br>

<div class="centered-buttons">
    <a href="/users/usermyprofile"><button class="button">My Profile</button></a>&nbsp;&nbsp;
    <a href="/users/usercreateaward"><button class="button">Create A New Award</button></a>&nbsp;&nbsp;
    <a href="/users/userviewawards"><button class="button">View Previous Awards</button></a>
</div>


<% include partials/footer %>