<% include partials/header %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>User Main Menu</h4>
<br>

<p>TODO</p>
<br>


<a href="/users/usermyprofile"><button class="btn btn-info btn-lg">Take a look at your profile</button></a>
<br>
<br>
<form action="/users/usercreateaward" method="GET">
    <button class="btn btn-info btn-lg">Create an Award for a fellow Employee</button>
</form>
<br>
<br>
<form action="/users/userviewawards" method="GET">
    <button class="btn btn-info btn-lg">Take a look at your awards</button>
</form>


<% include partials/footer %>