<% include partials/header %>

<h1>Happy Paws Employee Portal</h1>
<br>

<h4>Update/Edit Profile</h4>
<br>

<p>TODO - WILL FILL THIS FORM WITH THE INFO FROM THE DB. USER CAN CHANGE THE INFO AND RE-UPLOAD</p>
<br>

<form action="/users/userresetpassword" method="GET">
    <button class="btn btn-info btn-lg">Reset Your User Password</button>
</form>
<br>
<br>
<form action="/users/usereditprofile" method="GET">
    <button class="btn btn-info btn-lg">Update Your User Profile</button>
</form>
<br>



<% include partials/footer %>