.buttons {
    padding: 5px;
}

.sig {
    max-height: 150px;
    max-width: 150px;
}

#forgotpw {
    margin-left: 10px;
}

.table{
    font-size: 15px;
}

/*Dark Blue for navbar*/
#navbar {
  background-color: #224E7A;
}

/*Navbar text color*/
.navbar-dark .navbar-nav .nav-link {
  color: #e9ecef
}

/*Dark Blue Header for datatables*/
.datatablethead tr {
    background-color: #224E7A;
    color: white;
}  

@font-face {
  font-family: miamaFont;
  font-weight: 900;
  src: url(../font/miama.otf);
  
}

@font-face {
  font-family: scriptyfont;
  font-weight: 900;
  src: url(../font/Afternoon\ in\ Stereo\ Personal\ Use.ttf);
  
}

/* h1 {font-family: miamaFont;
}

.navbar-brand{
  font-family: miamaFont;
} */

h1 {font-family: scriptyfont;
  font-size: 52px; 
}

.navbar-brand{
  font-family: scriptyfont;
  font-size: 22px; 
} 



/*Light Blue*/
h4{
    color: #659DBD;
}

/*Dark Blue*/
body{
    color: #224E7A;
}

/*Super Pale Yellow - Can be striped with dif colors*/
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #FDF7E4;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
    background-color:#FDF7E4;
} 

/*Bright Yellow*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FBEEC1;
  }

/*Make Table Rounded*/
.table-curved {
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
 }
 .table-curved > thead:first-child > tr:first-child > th {
     border-bottom: 0px;
     border-top: solid #ccc 1px;
 }

.table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    
}
 .table-curved td {
     border-left: 1px solid #ccc;
     border-top: 1px solid #ccc;
 }
 .table-curved > :first-child > :first-child > :first-child {
     border-radius: 6px 0 0 0;
 }
 .table-curved > :first-child > :first-child > :last-child {
     border-radius: 0 6px 0 0;
 }
 .table-curved > :last-child > :last-child > :first-child {
     border-radius: 0 0 0 6px;
 }
 .table-curved > :last-child > :last-child > :last-child {
     border-radius: 0 0 6px 0;
 }

 
  /*Dark Orange Custom1 Button*/
  .btn-custom1 { 
    color: #FFFFFF; 
    background-color: #BD6637; 
    border-color: #BD6637; 
  } 
   
  .btn-custom1:hover, 
  .btn-custom1:focus, 
  .btn-custom1:active, 
  .btn-custom1.active, 
  .open .dropdown-toggle.btn-custom1 { 
    color: #FFFFFF; 
    background-color: #874827; 
    border-color: #BD6637; 
  } 
   
  .btn-custom1:active, 
  .btn-custom1.active, 
  .open .dropdown-toggle.btn-custom1 { 
    background-image: none; 
  } 
   
  .btn-custom1.disabled, 
  .btn-custom1[disabled], 
  fieldset[disabled] .btn-custom1, 
  .btn-custom1.disabled:hover, 
  .btn-custom1[disabled]:hover, 
  fieldset[disabled] .btn-custom1:hover, 
  .btn-custom1.disabled:focus, 
  .btn-custom1[disabled]:focus, 
  fieldset[disabled] .btn-custom1:focus, 
  .btn-custom1.disabled:active, 
  .btn-custom1[disabled]:active, 
  fieldset[disabled] .btn-custom1:active, 
  .btn-custom1.disabled.active, 
  .btn-custom1[disabled].active, 
  fieldset[disabled] .btn-custom1.active { 
    background-color: #D9A78C; 
    border-color: #D9A78C; 
    cursor: not-allowed;
  } 
   
  .btn-custom1 .badge { 
    color: #BD6637; 
    background-color: #FFFFFF; 
  }

  .btn-custom2 { 
    color: #224E7A; 
    background-color: #FBEEC1; 
    border-color: #BD6637; 
  } 
   
  .btn-custom2:hover, 
  .btn-custom2:focus, 
  .btn-custom2:active, 
  .btn-custom2.active, 
  .open .dropdown-toggle.btn-custom2 { 
    color: #224E7A; 
    background-color: #F5E29F; 
    border-color: #BD6637; 
  } 
   
  .btn-custom2:active, 
  .btn-custom2.active, 
  .open .dropdown-toggle.btn-custom2 { 
    background-image: none; 
  } 
   
  .btn-custom2.disabled, 
  .btn-custom2[disabled], 
  fieldset[disabled] .btn-custom2, 
  .btn-custom2.disabled:hover, 
  .btn-custom2[disabled]:hover, 
  fieldset[disabled] .btn-custom2:hover, 
  .btn-custom2.disabled:focus, 
  .btn-custom2[disabled]:focus, 
  fieldset[disabled] .btn-custom2:focus, 
  .btn-custom2.disabled:active, 
  .btn-custom2[disabled]:active, 
  fieldset[disabled] .btn-custom2:active, 
  .btn-custom2.disabled.active, 
  .btn-custom2[disabled].active, 
  fieldset[disabled] .btn-custom2.active { 
    background-color: #FBEEC1; 
    border-color: #BD6637; 
  } 
   
  .btn-custom2 .badge { 
    color: #FBEEC1; 
    background-color: #224E7A; 
  }



/*Dark Red Delete Button*/
 .btn-delete { 
    color: #FFFFFF; 
    background-color: #7b2323; 
    border-color: #7b2323; 
  } 
   
  .btn-delete:hover, 
  .btn-delete:focus, 
  .btn-delete:active, 
  .btn-delete.active, 
  .open .dropdown-toggle.btn-delete { 
    color: #FFFFFF; 
    background-color: #571919; 
    border-color: #7b2323; 
  } 
   
  .btn-delete:active, 
  .btn-delete.active, 
  .open .dropdown-toggle.btn-delete { 
    background-image: none; 
  } 
   
  .btn-delete.disabled, 
  .btn-delete[disabled], 
  fieldset[disabled] .btn-delete, 
  .btn-delete.disabled:hover, 
  .btn-delete[disabled]:hover, 
  fieldset[disabled] .btn-delete:hover, 
  .btn-delete.disabled:focus, 
  .btn-delete[disabled]:focus, 
  fieldset[disabled] .btn-delete:focus, 
  .btn-delete.disabled:active, 
  .btn-delete[disabled]:active, 
  fieldset[disabled] .btn-delete:active, 
  .btn-delete.disabled.active, 
  .btn-delete[disabled].active, 
  fieldset[disabled] .btn-delete.active { 
    background-color: #224E7A; 
    border-color: #224E7A; 
  } 
   
  .btn-delete .badge { 
    color: #7b2323; 
    background-color: #FFFFFF; 
  }

  /*Warm Orange Edit1 Button*/
  .btn-edit1 { 
    color: #FFFFFF; 
    background-color: #BD6637; 
    border-color: #BD6637; 
  } 
   
  .btn-edit1:hover, 
  .btn-edit1:focus, 
  .btn-edit1:active, 
  .btn-edit1.active, 
  .open .dropdown-toggle.btn-edit1 { 
    color: #FFFFFF; 
    background-color: #874827; 
    border-color: #BD6637; 
  } 
   
  .btn-edit1:active, 
  .btn-edit1.active, 
  .open .dropdown-toggle.btn-edit1 { 
    background-image: none; 
  } 
   
  .btn-edit1.disabled, 
  .btn-edit1[disabled], 
  fieldset[disabled] .btn-edit1, 
  .btn-edit1.disabled:hover, 
  .btn-edit1[disabled]:hover, 
  fieldset[disabled] .btn-edit1:hover, 
  .btn-edit1.disabled:focus, 
  .btn-edit1[disabled]:focus, 
  fieldset[disabled] .btn-edit1:focus, 
  .btn-edit1.disabled:active, 
  .btn-edit1[disabled]:active, 
  fieldset[disabled] .btn-edit1:active, 
  .btn-edit1.disabled.active, 
  .btn-edit1[disabled].active, 
  fieldset[disabled] .btn-edit1.active { 
    background-color: #BD6637; 
    border-color: #BD6637; 
  } 
   
  .btn-edit1 .badge { 
    color: #BD6637; 
    background-color: #FFFFFF; 
  }

  .pagination li a {
    border-radius: 6px; /*rounded buttons*/
    background-color: #FDF7E4;
    color: #224E7A;
   /*  border-color:  #23527c; */
 }

 .pagination li a:focus,
 .pagination li a:hover,
 .pagination li span:focus,
 .pagination li span:hover {
     color: #224E7A;
     background-color: #FBEEC1;
     /* border-color:  #224E7A; */
 }

 .pagination > .active > a
{
    color: white;
    background-color: #224E7A !Important;
    /* border: solid 1px  #224E7A !Important; */
}

.pagination > .active > a:hover
{
    background-color: #0E2134 !Important;
    /* border: solid 1px #0E2134; */
}

/*Div to hold CSV button for charts*/
.csvbutton {
    padding-top: 0%;
    margin-top: 0px;
    background-color: transparent;
    text-align: center;
}

/*Div to hold CSV button for tables*/
.csvbuttonTable {
    padding-top: 0%;
    margin-top: 0px;
    background-color: transparent;
    text-align: right;
}

#pieChartDiv {
    display: table;
    margin-right: auto;
     margin-left: auto;
} 

#barChartDiv {
    display: table;
    margin-right: auto;
     margin-left: auto;
}

.navbar .navbar-nav .nav-link {
    border-radius: .25rem;
    margin: 0 0.25em;
  }

.chart {
  width: 100%; 
  min-height: 450px;
  margin-right: auto;
  margin-left: auto;
}

