.buttons {
    padding: 5px;
}

.sig {
    max-height: 150px;
    max-width: 150px;
}

#forgotpw {
    margin-left: 10px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #DFF0D8;
}